
.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 10%;
  
}
h2,button{
  margin-left: 10%;
}
span{
  margin-left: 5%;
}

.square {
  box-sizing: border-box;
  border: 2px solid black;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sprite {
  background-image: url(sprite.png);
}
.player {
  background-image: url(player.png);
}

.square:hover {
  cursor: pointer;
}


